*{
    margin: 0;
    padding: 0;
  
    
}
body{
   font-family: "Montserrat", sans-serif;
   background-image: url(./images/bg.jpg);
 
}
/* menubar css or responsive start */
nav.main-nav{
    text-decoration: none;
    list-style: none;
    background:#cecccc ;
    height: 80px;
    width: 100%;
    text-transform: uppercase;
}
nav label.logo{
    color: rgb(37, 36, 36);
    font-size: 35px;
    line-height: 80px;
    padding: 0px 80px;
    font-weight: bold;
}
.main-nav ul{
    float: right;
    padding-right: 50px;
}

.main-nav li{
    display: inline-block;
 line-height: 80px;
 margin: 0 10px;
 padding-right: 20px;
    
   
}
.main-nav ul li a{
    color: #242323;
    font-size: 18px;
    
    border-radius: 5px;
    text-decoration: none;
    
}
a.active, a:hover{
    background: #ffffff31;
    transition: 0.5s;
}
.kbtn{
    font-size: 30px;
    float: right;
    line-height: 80px;
    color: #eb0b0b;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display:none;
}
@media(max-width:952px){
    nav label.logo{
        color: #302d2d;
        font-size: 20px;
        line-height: 80px;
        padding: 0px 50px;
        font-weight: bold;
      
    }
    ul li{
        padding-left: 50px;
        color: #242222;
        font-size: 10px;
        
        border-radius: 5px;
        text-decoration: none;

    }
    .main-nav ul li{
        display: block;
        margin: 50px;
        text-align: center;
        line-height: 0%;
        
    }
    .main-nav ul {
        background-color: #ffffff;
    }

    
}
@media(max-width:858px){
    .kbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        left: -200%;
        transition: all .5s;
    }
    #check:checked ~ ul{
        left: 0;
    }
}
/* Manubar css and responsive end*/
/* section2 start*/

.container1{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.container1 img{
    width: 100%;
}
.container1 h1{
    color: #687693;
    font-size: 60px;
    line-height: 80px;
    text-align: center;
    margin-top: 170px;
    

}
.deve{
    
    color: #687693;
    font-size: 70px;
    text-align: left;
    margin: 30px 20px;
    line-height: 50px;
    
}
.kea{
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    position: relative;
    display: inline-block;
    padding-right: 120px;
    margin-left: 60px;
    padding-bottom: 10px;
}
.cntbtn{
    
    display: inline-block;
    text-decoration: none;
    background-color: #141313;
    color: #ffffff;
    padding: 15px 15px;
    position: relative;
    left: 120px;
    border-radius: 7px;
    
  }
.ex8{
    height: 200px;
    width: 180px;
    background-color: rgba(46, 46, 43,0.9);
    position: relative;
    bottom: 200px;
    left: 350px;
    padding-bottom: 10px;
}
.ex8 h3{
    text-align: center;
    padding-top: 40px;
    font-weight: 600px;
    font-size: 100px;
    color: #ffffff;

}
.ex8 p{
    text-align: center;
    font-size: 20px;
    color: #cecccc;
    padding-bottom: 5500px;
    display: inline-block;
    position: absolute;
    padding-left: 10px;
}
.conAbout{
    padding-top: 100px;
}
.about{
    text-align: center;
    color: #d10505;
    font-size: 25px;
    margin-block-start: 20px;
    margin-block-end: 20px;
}
.welcome{
    color: #323232;
    line-height: 30px;
    font-size: 25px;
}
.exp{
    color: #3b38386b;
    font-size: 18px;
    margin-block-start: 10px;
}
.pknow{
    display: block;
    margin-block-start: 10px;
    margin-block-end: 10px;
    line-height: 30px;
    font-size: 17px;
}